@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  color: white;
}

:root {
  font-size: 18px;
}

body {
  padding: 50px 20px;
  background: #0f1424;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: none;
  border: none;
}

.dashboard {
  display: grid;
  place-items: center;
  align-items: stretch;
  width: 320px;
  gap: 20px;
}

.profile {
  width: 95%;
  background: #1c1f4a;
  color: white;
  border-radius: 10px;
}

.profile__main {
  padding: 20px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5847eb;
  border-radius: inherit;
}

.profile__main > img {
  height: 70px;
  border-radius: 50%;
  border: 2px solid white;
}

.profile__main--content {
  margin-left: 15px;
}

.profile__main--content p {
  font-size: .9rem;
  color: #bdc1ff;
}

.profile__main--content h1 {
  font-size: 1.3rem;
  font-weight: 300;
}

.profile__buttons {
  display: flex;
  justify-content: space-around;
}

.profile__buttons button {
  font-size: 1rem;
  margin: 25px 0px;
  width: 67px;
  color: #6f76c8;
  transition: border 500ms;
  transform-origin: center;
}

.profile__buttons button[selected] {
  color: white;
}

.profile__buttons button:hover {
  cursor: pointer;
  color: #d2d3e4;
}

.card {
  width: 95%;
  border-radius: 10px;
  animation: appearing 500ms ease-out 0s 1 forwards;
  overflow: hidden;
}

.card:hover > main {
  cursor: pointer;
  background: #3b3879;
}

.card > main {
  padding: 20px;
  background: #1c1f4a;
  border-radius: inherit;
  width: 100%;
}

.card .card__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}

.card .card__top h2 {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
}

.card .card__options {
  cursor: pointer;
  color: #d2d3e4;
}

.card[type=work] {
  background: #ff8c66;
}

.card[type=play] {
  background: #56c2e6;
}

.card[type=study] {
  background: #ff5c7c;
}

.card[type=exercise] {
  background: #4acf81;
}

.card[type=social] {
  background: #7536d3;
}

.card[type="self care"] {
  background: #f1c65b;
}

@keyframes appearing {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.card__background {
  display: flex;
  justify-content: end;
  height: 40px;
  overflow: hidden;
}

.card__background img {
  height: 75px;
  position: relative;
  bottom: 10px;
  right: 15px;
}

.card__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__details .card__hours {
  font-weight: 300;
  font-size: 1.7rem;
}

.card__details .card__previousHours {
  color: #bdc1ff;
  font-size: .8rem;
}

.attribution {
  padding: 5px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 11px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 768px) {
  .dashboard {
    grid-template-columns: repeat(2, 1fr);
    width: -webkit-fill-available;
  }
  .profile {
    grid-row: span 2;
  }
  .profile__main {
    flex-direction: column;
    text-align: center;
    height: 80%;
  }
  .profile__main > img {
    height: 100px;
    margin-bottom: 20px;
  }
  .profile__main--content {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  body {
    height: 100vh;
  }
  .dashboard {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1120px;
    height: 500px;
  }
  .profile {
    grid-row: span 2;
  }
  .profile__main {
    align-items: flex-start;
    justify-content: normal;
    text-align: left;
    height: 70%;
  }
  .profile__main > img {
    position: relative;
    top: 10px;
    height: 85px;
    margin-bottom: 50px;
  }
  .profile__main h1 {
    font-size: 2.3rem;
  }
  .profile__main--content {
    margin: 0;
  }
  .card > main {
    height: 210px;
  }
  .card__top {
    margin: 10px;
  }
  .card__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .card__details .card__hours {
    font-size: 3rem;
    margin: 15px 0;
  }
  .profile__buttons {
    height: 30%;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 25px;
  }
  .profile__buttons button {
    width: max-content;
    margin: 0;
  }
}
